// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #4DAE4E
$secondary = #748593
$tertiary  = #555

$neutral   = #F5F9FC
$positive  = #4EC600
$negative  = #E21E39
$info      = #59D6DA
$warning   = #FFBB00

@import '~quasar-variables'
